<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>zsDoctrineRecordBuilderPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>zsDoctrineRecordBuilderPlugin is a symfony 1.4 plugin, for php 5.3.x and Doctrine 1.2, which help you to build, create and stub records for testing purpose. It's strongly influenced by thoughtbot's' factory_girl</summary>
  <description>zsDoctrineRecordBuilderPlugin is a symfony 1.4 plugin, for php 5.3.x and Doctrine 1.2, which help you to build, create and stub records for testing purpose. It's strongly influenced by thoughtbot's' factory_girl</description>
  <lead>
    <name>Stéphane R. Richard</name>
    <user>zanshine</user>
    <email>blog@zanshine.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://en.wikipedia.org/wiki/BSD_licenses#3-clause_license_.28.22New_BSD_License.22.29">New BSD license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.3.0</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.4.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog></changelog>
</package>
